{% extends 'base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#"></a>
            <small class="text-muted"></small>
        </div>
        <h2><a class="article-title" href="#"></a></h2>
        <p class="article-content"></p>
        {% for post in posts %}
        {{post.title}}
        {{post.content}} - {{post.date.strftime('%Y-%m-%d')}}
        {{post.author.username}}
        {% endfor %}
        </div>
    </article>
{% endblock content %}