{% extends 'base.html' %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{url_for('static', filename='propic/' + post.author.image_file)}}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{url_for('users.user_profile', id=post.author.id)}}">{{post.author.username}}</a>
                <small class="text-muted">{{post.date.strftime('%Y-%m-%d')}}</small>

                {% if post.author == current_user %}
                <small>
                    <a href="{{url_for('posts.update_post', id=post.id)}}">Update</a>
                </small>
                <small>
                    <a href="{{url_for('posts.delete_post', id=post.id)}}">Delete</a>
                </small>
                {% endif %}
                
            </div>
            <h2>{{post.title}}</h2>
            <p class="article-content">{{post.content}}</p>
        
        </div>
    </article>
{% endblock content %}